<div class="copyright py-4 text-center text-white">
  <div class="container">
    <small>&copy; <%= moment().format('YYYY') %> Freelancer - <%= settings.title %>. Todos os direitos reservados</small>
  </div>
</div>