<section class="portfolio" id="portfolio">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">Portfólio</h2>
    <hr class="star-dark mb-5">
    <div class="row">
        <% portfolio.forEach((row)=>{%>
      <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-<%= row.id %>">
          <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
              <i class="fas fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="<%= row.photo %>" alt="<%= row.title %>">
        </a>
      </div>
      <% }); %>
    </div>
  </div>
</section>